:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: ;
  --secondary-text-color-theme-dark: ;
  --primary-text-color-theme-light: ;
  --secondary-text-color-theme-light: ;
  --black-color: #212121;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --white-color: #ffffff;
  --background-color: #2f303a;
}

body {
    font-family: var(--primary-font);
}


.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-decoration: none;
}

.logo-second-part {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.page-header {
  background: var(--white-color);
}

.menu-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.modal-open-btn:hover,
.modal-open-btn:focus,
.menu-link:hover,
.meni-link:focus,
.contact-email-address:hover,
.contact-email-address:focus,
.contact-phone-number:hover,
.contact-phone-number:focus,
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

ul {
  list-style-type: none;
}

.contact-email-address {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.contact-phone-number {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.section-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
  background: var(--background-color);
}

.modal-open-btn {
  background: var(--blue-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.portfolio-btn {
  background: var(--white-color);
  border-radius: 4px;
}

.footer {
  background: var(--background-color);
}

.subtitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.second-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.third-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.second-subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.menu-link-footer {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
