.page-header {
    background: var(--white-color);
    padding: 0;
    border-bottom: 1px solid #eeee;
    position: relative;
}


.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .logo-header {
        display: flex;
        align-items: center;
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--black-color);
        width: 134px;

    }

    .page-header {
        margin-top: 16px;
        height: 60px;
    }

    .contact-services {
        display: none;
    }

    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: var(--white-color);
        padding: 0;
    }

    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }
}



@media screen and (min-width: 768px) {

    .open-mobile-menu-btn {
        display: none;
    }

    .header {
        padding: 24px 0px;
        border: 1px solid #ECECEC;
    }

    .container {
    padding-left: 15px;
    padding-right: 15px;
    }
    

    .page-header {
        padding-top: 26px;
        padding-bottom: 26px;
        height: 80px;
    }

    .page-navigation,
    .logo-header,
    .menu {
        display: flex;
        align-items: center;
    }

    .logo-header {
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--main-text-color);
        margin-right: 88px;
    }


    .menu {
        gap: 50px;
    }

.menu__link {
        position: relative;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 28px;
        padding-bottom: 28px;
        color: var(--black-color);
            transition-duration: 250ms;
            transition-property: color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover {
                color: var(--blue-color);
            }
        
            &:focus {
                color: var(--blue-color);
            }
}

.contact-services {
    margin-left: auto;
    gap: 50px;
}

.contact-email-address {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: var(--gray-color);
            display: flex;
            align-items: center;
            transition-duration: 250ms;
            transition-property: color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover {
                color: var(--blue-color);
    
                .contact-email-address__icon-mail {
                    fill: var(--blue-color);
                }
            }
    
            &:focus {
                color: var(--blue-color);
    
                .contact-email-address__icon-mail {
                    fill: var(--blue-color);
                }
            }
    
}
    
    
.contact-phone-number {
    font-weight: 500;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 10px;

    &:hover {
        color: var(--blue-color);

        .contact-phone-number__icon-phone {
            fill: var(--blue-color);
        }
    }

    &:focus {
        color: var(--blue-color);

        .contact-phone-number__icon-phone {
            fill: var(--blue-color);
        }
    }
}
}


@media screen and (min-width: 1200px) {
    .contact-services {
        display: flex;
        align-items: center;
    }

    .logo-header {
        margin-right: 93px;
    }

    .contact-phone-number {
        margin-top: 0px;
    }

    .contact-email-address,
    .contact-phone-number {
        font-size: 14px;
    }
}