.logo-header {
     font-family: var(--secondary-font);
     font-size: 26px;
     line-height: 1.19;
     color: var(--black-color);
     text-decoration: none;
     margin-right: 276px;
     width: 134px;
    margin-bottom: 25px;

}

.page-header {
    background: var(--white-color);
    padding: 0;
    border-bottom: 1px solid #eeee;
    position: relative;
}

.contact-services {
    display: none;
}

.contact-item {
    display: none;
}

.page-header {
    background: var(--white-color);
    border-bottom: 1px solid #eeee;
    position: relative;
}

.page-navigation {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.page-header-container {
    display: flex;
    align-items: center;
}

 @media screen and (min-width: 768px) {
    .open-mobile-menu-btn{
         display: none;
     }

         .contact-email-address {
             font-weight: 500;
             line-height: 1.14;
             letter-spacing: 0.02em;
             color: var(--gray-color);
             display: flex;
             align-items: center;
             transition-duration: 250ms;
             transition-property: color;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
             &:hover {
                 color: var(--blue-color);
    
                 .contact-email-address__icon-mail {
                     fill: var(--blue-color);
                 }
             }
    
             &:focus {
                 color: var(--blue-color);
    
                 .contact-email-address__icon-mail {
                     fill: var(--blue-color);
                 }
             }

            margin-top: 21px;
         }
    
    
         .contact-phone-number {
             font-weight: 500;
             line-height: 1.14;
             letter-spacing: 0.02em;
             color: var(--gray-color);
             display: flex;
             align-items: center;
             transition-duration: 250ms;
             transition-property: color;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
             margin-top: 10px;
    
             &:hover {
                 color: var(--blue-color);
    
                 .contact-phone-number__icon-phone {
                     fill: var(--blue-color);
                 }
             }
    
             &:focus {
                 color: var(--blue-color);
    
                 .contact-phone-number__icon-phone {
                     fill: var(--blue-color);
                 }
             }
         }
    
    
    
    
         .contact-email-address__icon-mail {
             margin-right: 10px;
             fill: #757575;
             transition-duration: 250ms;
             transition-property: fill;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }
    
         .contact-phone-number__icon-phone {
             margin-right: 10px;
             fill: #757575;
             transition-duration: 250ms;
             transition-property: fill;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }

         .menu__list {
            width: auto;
         }

         .logo-header {
            margin-right: 87px;
         }

         .page-header-container {
            display: flex;
            align-items: center;
            justify-content: baseline;
         }

         .contact-services {
            margin-left: 96px;
            display: block;
            column-gap: 50px;
            justify-content: center;
         }

         .contact-item {
            display: flex;
            column-gap: 50px;
            justify-content: center;
         }

        .logo-header {
            margin-top: 24px;
        }
        
        .page-navigation {
            padding-top: 0px;
        }
        
        .contact-item {
            margin-top: 32px;
            margin-bottom: 32px;
        }

}

@media screen and (min-width: 768px) {
    .contact-services {
        display: flex;
        column-gap: 50px;
        justify-content: center;
    }

    .contact-email-address {
        margin-top: 10px;
    }
}
