.team-participants {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    column-gap: 30px;
}

.team {
    background-color: var(--light-gray-color);
}

.section-subtitle {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--gray-color);
}

.third-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    padding-top: 30px;
}

.img-size {
    width: 270px;
    height: 260px;
}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .team-menu {
        display: block;

    }

    .img-size {
        width: 450px;
        height: 460px;
    }

    .third-title {
        margin-bottom: 10px;
    }

    .social-list {
        padding-bottom: 24px;
    }

}